@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
html,body{
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}
body{
    margin: 0;
}
.container{
    margin: 15px;
    /* border: 5px solid #000; */
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(assets/images/Rectangle\ 112.svg);
    background-size: cover;
    background-position: center;
    height: 120px;
}
.nav-container{
    /* border: 3px solid #ffcf45; */
    display: flex;
    justify-content: space-evenly;
}
.nav-container  img{
    margin-left: 2px;
    align-self: flex-start;
    margin-top: 22px;
    width: 100px;
}
.nav-container > .nav-1{
    margin-top: 20px;
}
.nav-container > .nav-1 > a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}
.nav-container > .active > a{
    color: #FD8900;
}
.nav-container > .login{
    border: 2px solid #fff;
    /* flex:1; */
    border-radius: 25px;
    text-align: center;
    height:max-content;
}
.nav-container > .login a{
    padding: 20px;
    margin-right: auto;
}
.page-title{
    text-align: center;
}
 .page-title h2{
    font-weight: 800;
    line-height: 31.2px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    color: #fff;
    word-spacing: 5px;
} 

/* Call to Action Section */
.section-container{
    display: flex;
    justify-content: center;
    /* border: 3px solid #FD8900; */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    align-self: center;
   
}
.section-container > .section{
    margin-top: 2px;
}
.section p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000;
}

/* Mission and Vision */
.mission-container{
    display: flex;
    justify-content: center;
    background: #EFF4F3;
}
.mission-text{
    margin-left: 40px;
    text-align: justify;
   
}
.mission-text h2{
    font-weight: 800;
    line-height: 31.2px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    color: #42484D;
    word-spacing: 5px;
    padding-top: 20px;
}
.mission-text p{
    color: #42484D;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    padding-right: 270px;
}
.mission-img{
    margin-right: 40px;
    
}
.mission-img img{
    height: 300px;
    padding-top: 40px;
    width: 530px;
}

#vision-img{
    margin-left: 10px;
    text-align: justify;
}

#vision-text{
    margin-left: 230px; 
    margin-right: 50px;
}
 #vision-text p{
    padding-right: 0px;

} 


/* CONTAINER 4 */
.container4{
    background-color: #fff;
}
.container4 h2{
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 48px;
/* identical to box height */
    color: #42484D;
    text-align: center;
}
.container4 p{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 32px;
/* or 160% */

text-align: center;

color: #42484D;
text-align: center;
margin-left: 100px;
margin-right: 100px;
}

/* COUNCELLOR CONTAINER */
.councellor-container{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}
.get-started{
    display: flex;
    justify-content: center;
}
.btnMatched{
    margin-top: 12px;
    margin-left:100px;
    width: 300px;
    height: 40px;
    background: #00938A;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 100px;
    
}
.btnMatched a{
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    padding-top: 100px;
    color: #FFFFFF;
}

/* END OF CONTAINER 4 */

/* START OF TESTIMONIES */
/* TESTIMONY SECTION */
.testimony-container{
    display: flex;
    justify-content: center;
    margin-left: 60px;
}
.testimony-1{
    text-align: center;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 6px 6px 6px 6px;
    margin-right: 50px;
    margin-bottom: 30px;
    width: 20%;
}
.testimony-1 p{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: normal;
  padding: 10px;
  /* or 156% */
  
  text-align: center;
  
  color: #42484D;
  
}
.testimony-1 h3{
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  margin-top: -40px;
  /* identical to box height, or 136% */
  
  text-align: center;
  
  color: #42484D;
}
#btnSuccess{
    background-color: #fff; 
    border: 1px solid #00938A;
   margin-left: -10px;
}
#btnSuccess a{
  color: #00938A;
}
.steps p{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  /* identical to box height, or 136% */
  color: #42484D;
  text-align: center;
}
#startBtn{
    justify-content: center;
    margin-left: 550px;
}
.testimony-header{
    text-align: center;
    font-weight: 800;
    line-height: 31.2px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    color: #42484D;
    word-spacing: 5px;
    padding-top: 20px;
/* identical to box height */


color: #42484D;
}

/* END OF TESTIMONIES */

/* START OF FOOTER SECTION */
 /* social media section container 7 */
 .container7{
    background: #00938A;
    height: 200px;
    display: flex;
    justify-content: flex-start;
  }
.logo-container{
    margin-left: 100px;
}
/* .logo-container h2{
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 31px;
    color: #fff;
    padding-top: 70px;

color: #FFFFFF;

} */
.logo-container{
    background-color: #fff;
    width: 105px;
    height: fit-content;
    justify-content: center;
}
.logo-container img{
    margin-top: 70px;
    width: 100px;
    margin-left: 3px;
}
.nav-footer{
    flex: 2;
}
.nav-footer ul{
    margin-left: 320px;
    margin-top: 50px;
}
.nav-footer ul li{
    display: inline-block;
    list-style-type: none;
    text-align: center;
    justify-content: space-around;
    padding-right: 20px;
}
.nav-footer ul li a{
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 24px;
/* identical to box height */


color: #FFFFFF;
}
.nav-footer p{
    text-align: center;
    margin-left: 150px;
}
.nav-footer p a{
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
}
.copyright p{
    font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 30px;
/* identical to box height, or 167% */


color: rgba(255, 255, 255, 0.5);

}
.social-media{
    margin-right: 50px;
    width: 300px;
}
.social-media span{
  /* border: 2px solid #000; */
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 70px;
  background-color: #fff;
  margin-left: 5px;
  font-size: 20px;
  color: #00938A;
 padding: 10px;
}

/* END OF FOOTER SECTION */